.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.App-wrapper {
    width: 100%;
    margin: 0 2rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.input-wrapper {
    padding: 0 1rem;
    flex: 0 1;
}

.input-wrapper input {
    display: block;
}

.number {
    font-size: 15px;
    width: 100px;
}
